.btn{
    font-weight: 600;

    &-auth{
        width: 200px;
    }

    &-primary{
        position: relative;
        &:hover{
            color: $dark;
          
        }
    }
    &-secondary{
        background-color: lighten($primary, 40);
        color: $primary;
        border: 1px solid $primary;

        &:hover{
            background-color: lighten($primary, 30);
            border: 1px solid $primary;
            color: darken($primary, 10);
        }
    }
}