.blog{

    &-content{
        margin: 7rem 0;
    }
    &-title{
        margin: 3rem 0;
    }

    &-meta{
        font-weight: 700;
        font-size: $small-font-size;
    }

    &-post{
        font-size: 1rem;
    }
}